html{
    overflow-x: hidden;
    background-color:rgb(219, 219, 219) ;
}

h1{
    color:white;
}

h2{
    color:white;
}

ul{
    list-style-type: none;
    /* background-color: blue; */
    padding: auto;
}
p{
    font-family: 'Circular Std Bold',Tahoma, Geneva, Verdana, sans-serif;
}
p span {
    color:rgb(104, 50, 32);;
}

.gras{
    font:bold;
}

.centre{
    text-align: center;
    vertical-align:middle;
}

.titre{
    color: rgb(104, 50, 32);
}

.titrePrincipal{
    color: rgb(104, 50, 32);
    font-size: calc(40px + .10vw);
    
}

.decalage{
    padding-left: 5%;
    padding-right: 5%;
}

/* ------------------------------------------------------------------------ */

/* ----NAV-BAR----- */
/* modifier la height de la nav bar */
.bg{
    position: fixed;
}


/* ---PROGRESS-BAR--- */
.progress-container {
    width: 100%;
    height: 6px;
    background: #ccc;
  }
  
.progress-bar {
    height: 6px;
    width: 0%;
}


/* -----PAGE INTRO----- */
#demarrage1{
  background-size: 100% 100%;
  background-image: url(/image/Desert.png);
  background-repeat: no-repeat;  
}

#demarrage2{
  background-size: 100% 100%;
  background-image: url(/image/desert.jpg);
  background-repeat: no-repeat;  
}

#imageVoiture1{
    width: 60%;
}

#imageVoiture2{
    width: 60%;
}

/* COMMENT NOUS AIDER */
.aide{
    color:rgb(179, 110, 66);

}

.shiny-btn{
  color: #C06B35;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  padding:10px 22.5px;
  background-color: white;
  transition: all .5s;
  background-size: contain;
  background-position: -200px center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius:50px;
}

.shiny-btn:hover{
    transform: scale(1.1);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.shiny-btn:active{
    transform: scale(1);
    background-position: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

  
  


/* L'EQUIPE */
.containerScroll{
    width:250px;
    height:350px;
    border:2.5px solid #aeaeae9c; 
    border-radius:20px;
    background-color:#dbdbdba2;
  }
    
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    overflow: hidden; 
}
  
div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.Id{
      color: chocolate;
}

.post{
      color: black;
}
  
div.scrollmenu a:hover {
    /* background-color: #777; */
}

/* ------------------------------------------------------------------------ */
.centrage{
  display:flex; 
  align-items: center;
  justify-content:center;
  min-height:90px;
}

.container-fleche{
    color :#C06B35;
    font-size:40px;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    display:inline-block;
  }
  
  .fleche-bas{
  border-style: solid;
  border-width: 25px 12.5px 0 12.5px;
  border-color: #C06B35 transparent transparent transparent;
  margin-right: 15px;
  transition: all .5s;
  }
  
  .fleche-haut{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 25px 12.5px;
  border-color: transparent transparent #C06B35 transparent;
  margin-right: 15px;
  transition: all .5s;
  }
  
  .separation{
    width:250px;
    height:3px;
    background-color:#AEAEAE;
    
    margin-left: auto;
    margin-right: auto;
  }

  .bt{ 
    width:200px;
    height:55px;
    border-radius:10px;
    border:none;
    background-color:#C06B35;
    color:white;
    font-size:19px;
  }
  
  .bt:hover{
    background-color:rgb(224, 88, 3);
    
  }

  /* --------------------- */

  #aideXs{
    margin-bottom: 8px;
  }


  /* --------------------- */
  
  
.contenue {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 400px;
  border-radius: 6px;
  margin-bottom:2px;
  border:solid 3px #AEAEAE;
}

.contenue .textDiv {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}

.contenue .pretest{
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   box-shadow: none;
   border:none;
   margin:0
}
.contenue .test {
  display:block;
  width:100%;
  text-decoration: none;
  color: #C06B35;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.8em;
}
.contenue .textDiv .pretest .test, .contenue:active .contenue .test {
  font-size:1em
}


/* FOOTER */

.footer{
  background: #341910; 
  color:whitesmoke ;
  padding-bottom: 25px;
}

#scrollToTopBtn{
  position: fixed;
  right: 5%;
  top:90%;
  background-color: rgb(58, 58, 58);
  opacity: 50%;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;
  width: 48px;
}

#scrollToTopBtn:hover{
  opacity: 90%;
}


.btScroll{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.btScroll:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.previous {
  background-color: #C06B35;
  color: white;
}

.next {
  background-color: #C06B35;
  color: white;
}

.round {
  border-radius: 50%;
}