@import url("https://use.typekit.net/pus6lba.css");

html{
    overflow-x: hidden;
    background-color:rgb(219, 219, 219) ;
}

h1{
    font-family: 'acumin-pro';
    font-style: normal;
    font-weight: 400;
    color:white;
}

h2{
    font-family: 'acumin-pro';
    font-style: normal;
    font-weight: 400;
    color:white;
}

ul{
    font-family: 'acumin-pro';
    font-style: normal;
    font-weight: 400;
    list-style-type: none;
    /* background-color: blue; */
    padding: auto;
}
p{
    font-family: 'acumin-pro';
    font-style: normal;
    font-weight: 400;
}
p span {
    color:rgb(104, 50, 32);;
}

.gras{
    font-family: 'acumin-pro';
    font-weight: 400;
    font:bold;
}

.centre{
    text-align: center;
    vertical-align:middle;
}

.titre{
    font-family: 'acumin-pro';
    font-weight: 400;
    font:bold;
    color: rgb(104, 50, 32);
}

.titrePrincipal{
    font-family: 'acumin-pro';
    font-weight: 400;
    font:bold;
    color: rgb(104, 50, 32);
    font-size: calc(40px + .10vw);
}

.decalage{

}

/* ------------------------------------------------------------------------ */

/* ----NAV-BAR----- */
/* modifier la height de la nav bar */
.bg{
    position: fixed;
}


/* ---PROGRESS-BAR--- */
.progress-container {
    width: 80%;
    height: 6px;
    background: #ccc;
  }
  
.progress-bar {
    height: 6px;
    width: 0%;
}


/* -----PAGE INTRO----- */
#demarrage1{
  background-size: 80% 80%;
  background-image: url(/image/Desert.png);
  background-repeat: no-repeat;  
}

#demarrage2{
  background-size: 80% 80%;
  background-image: url(/image/desertt.png);
  background-repeat: no-repeat;  
}

#imageVoiture1{
    position: relative;
    top:20%;
    width: 20%;
}

#imageVoiture2{
    width: 20%;
}





